# ignore pycache folders
__pycache__/

# subfolder pycache folders
core/__pycache__/
minifiers/__pycache__/
ui/__pycache__/
utils/__pycache__/

assets/styles/old-styles

# should i ignore pyinstaller idk